body {
	width: 100%;
	height: 100vh;
	background: url(../stars.jpg) no-repeat;
}

.racer_table {
	margin: auto;
}

.racer_table, tr, td {
  border: 1px solid black;
  background: transparent;
}

td {
	width: 100px;
	height: 100px;
}

#player1 > .active {
  background: url(../x_wing.png);
  background-size: 100px 100px;
}

#player2 > .active {
	background: url(../tie_fighter.png);
	background-size: 100px 100px;
}

.instructions {
	background: transparent;
	color: #ffd932;
	margin: auto;
	margin-top: 50px;
	text-align: center;
	width: 500px;
	height: 400px;
	padding: 30px;
	border: 1px solid black;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 27px;
}

.race-intro {
	color: #ffd932;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 60px;
	padding-top: 10px;
	margin: 0;
	padding-bottom: 0;
}

#begin {
	color: #ffd932;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 45px;
	font-weight: bold;
	width: 220px;
	height: 110px;
	border: 1px solid black;
	border-radius: 10px;
	background: transparent;
}

#begin:hover {
	font-size: 65px;
}

button:focus {
	outline: none;
}

.options {
	background: transparent;
	color: #ffd932;
	display: none;
	width: 500px;
	margin: auto;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 27px;
}

.winner-intro {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 45px;
	margin-top: 30px;
}

#yes, #no {
	color: #ffd932;
	width: 100px;
	height: 100px;
	border: none;
	background: transparent;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 37px;
	margin: 15px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 0px;
	font-weight: bolder;
}

#yes:hover, #no:hover {
	font-size: 50px;
}

.star-wars-logo {
	width: 510px;
	height: 150px;
}
